;
; {{ ansible_managed }}
;
; Barman, Backup and Recovery Manager for PostgreSQL
; http://www.pgbarman.org/ - http://www.2ndQuadrant.com/
;

{% for server in pgbarman_server_configuration %}
[{{ server.name }}]

description = "{{ server.description|default(server.name) }}"
{% for item in server.config %}
{{ item.name }} = "{{ item.value }}"
{% endfor %}

{% endfor %}
